<%= provide(:title, 'Sign up') %>
  <%= form_with(model: @user) do |f| %>

    <% if @user.errors.any? %>
      <div>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        <ul class="error_explanation">
         <% @user.errors.each do |error| %>
           <li><%= error.full_message %></li>
    <% end %>
        </ul>
      </div>
  <% end %>

  <section>
    <div>

     <div class="card" style="background-color: #a55 ;border-radius: 25px; height: 50%">
      <div class="container">

        <table>
          <tr>
            <td><%= f.label :name %></td>
            <td><%= f.text_field :name %></td>
          </tr>

          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email %></td>
          </tr>

          <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password %></td>
          </tr>

          <tr>
            <td><%= f.label :password_confirmation, "Confirmation"%></td>
            <td><%= f.password_field :password_confirmation %></td>
          </tr>

          <div class="actions">
            <%= f.submit "Create my account" %>
            <%= link_to 'Back', root_path ,class: 'btn-secondary'%>
          </div>

        </table>
      </div>
    </div>
  </div>
</section>

<% end %>


