<%= provide(:title, @user.name) %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="table-info">Photo</th>
      <th class="table-info">UserName</th>
      <th class="table-info">UserEmail</th>
      <th class="table-info">UserCreated Time</th>
      <th class="table-info">UserUpdated Time</th>
      <th colspan="2" class="table-secondary">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td class="table-danger"><%= gravatar_for @user %></td>
        <td class="table-danger"><%= @user.name %></td>
        <td class="table-danger"><%= @user.email %></td>
        <td class="table-danger"><%= @user.created_at %></td>
        <td class="table-danger"><%= @user.updated_at %></td>
        <td class="table-secondary"><%= link_to 'Add New Blog', new_micropost_path %></td>
        <td class="table-secondary"><%= link_to 'Blogs', microposts_path %></td>
        </tr>
  </tbody>
</table>




