<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <% flash.each do |message_type, message| %>
            <div class="alert-fixed alert-<%=message_type%> centre"><%=message%></div>
          <%end %>
          <%= yield %>
        </div>
      </div>
    </div>

  <% render 'layouts/footer' %>
  </body>
</html>
